<h1>Hello</h1>

<a href="messages">Click</a>

<turbo-frame id="messages" src="/messages">
  <p>Pretend there is a long running query on /messages. This message will be replaced by the response from /messages.</p>
</turbo-frame>
