<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roda + Turbo</title>
  <style>
    body {
      background-color: bisque;
    }

    .turbo-progress-bar {
      height: 5px;
      background-color: green;
    }
  </style>
</head>
<body>
  <%= yield %>
  <script type="module">
    import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
  </script>
      <script>
        (function() { "use strict";
            var ul = document.querySelector('ul');
            var es = new EventSource('/messages/stream');
            function li(text) {
                var li = document.createElement('li');
                li.innerText = text;
                ul.appendChild(li);
            }
            es.addEventListener('open', function() {
                li('Server connected :)');
            });
            es.addEventListener('custom-event', function(event) {
                li(event.data);
            });
            es.addEventListener('error', function() {
                li('Server unavailable :(');
            });
        })();
    </script>
</body>
</html>
